/* M */
@media screen and (min-width: 768px) {
  body {
    background: linear-gradient(to top, var(--cor-secundaria), var(--cor-principal));
  }

  #login {
    display: flex;
    width: 80vw;
    height: 335px;
  }

  #imagem {
    flex: 1;
    height: 100%;
  }

  #form {
    flex: 2;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #form > p {
    padding: 0px 10%;
  }

  .campo-interacao, #entrar, #botao_reset_senha {
    width: 80%;
  }
}

/* L || XL */
@media screen and (min-width: 992px) {
  #login {
    width: 950px;
    height: 395px;
    flex-direction: row-reverse;
  }

  #imagem {
    flex: 1;
    background-position: center center;
  }

  #form {
    flex: 1;
  }

  #form > h1 {
    font-size: 2em;
  }

  #form > p {
    font-size: 1em;
  }
}